.wheel {
  background-color: darkgray;
  height: 20px;
  width: 20px;
  justify-content: center;
  display: grid;
  align-content: center;
}
.axle {
  width: 6px;
  height: 6px;
  background-color: black;
}
.wheel,
.axle {
  border-radius: 50px;
}
